<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Microsoft Office</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.Quicksilver.MicrosoftOfficePlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Microsoft Office Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>9B</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011, QSApp</string>
	<key>QSActions</key>
	<dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Patrick Robertson</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Recent documents from the Microsoft Office Suite</string>
		<key>extendedDescription</key>
		<string>&lt;h3&gt;Microsoft Office Plugin&lt;/h3&gt;
&lt;p&gt;Enables moving down (using → or /) into Microsoft Word, Excel, Powerpoint to locate recently opened documents.&lt;/p&gt;
&lt;p&gt;Works with Microsoft Office 2016, 2011 and 2008&lt;/p&gt;</string>
		<key>icon</key>
		<string>OfficeLego</string>
		<key>relatedBundles</key>
		<array>
			<string>com.microsoft.Word</string>
			<string>com.microsoft.Powerpoint</string>
			<string>com.microsoft.Excel</string>
			<string>com.microsoft.office</string>
		</array>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.microsoft.Excel</key>
			<string>MicrosoftOfficePluginSource</string>
			<key>com.microsoft.Powerpoint</key>
			<string>MicrosoftOfficePluginSource</string>
			<key>com.microsoft.Word</key>
			<string>MicrosoftOfficePluginSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>MicrosoftOfficePluginSource</key>
			<string>MicrosoftOfficePluginSource</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4001</string>
	</dict>
</dict>
</plist>
